html
    head
        meta(charset="UTF-8")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous")
        title Desafio 10 pug

    body.container.mt-3
        div.jumbotron
            h1.text-start.mt-5.mb-5.fw-bolder.text-primary Ingresar Productos

            form(action='/productos' method='POST')
                div.form-group
                    label.fst-italic(for='title') Nombre
                    input#title.form-control(type='text' name='title' required='' minlength='1')
                div.form-group
                    label.fst-italic(for='price') Precio:
                    input#price.form-control(type='text' name='price' required='' minlength='1')
                div.form-group
                    label.fst-italic(for='thumbnail') Foto URL:
                    input#thumbnail.form-control(type='text' name='thumbnail' required='' minlength='1')
                input.btn.btn-success.mt-3.mb-5(type='submit' value="Enviar" )

            h2.text-start.mt-5.mb-5.fw-bolder.text-primary Vista de Productos
            div.table-responsive
                table.table.table-dark.table-hover.container
                    thead
                    tr
                        th #
                        th Producto
                        th Precio
                        th Imagen
                    tbody
                        each n in productos
                            tr
                                th= n.id
                                th= n.title
                                th= n.price
                                th= n.thumbnail
                        else
                            h3.alert.alert-danger No se encontraron productos